/*
Project Name:   EHW PHP Demo: Scrape LinkedIn Course List Images
Main Prj File:  controller.php

This Filename:  main.css
Date Created:   11/29/22
Date Updated:   01/28/22
Programmer:     Eric L. Hepperle

File Version:    1.00.00

File Purpose: 
  Styles for curl results page.
*/

.ehw-curl-results {
    background: beige;
    border: solid 2px red;
    margin: 2rem auto;
    max-width: 1024px;
    width: 80%;
    overflow: hidden;
}

.res-img-cont {
    float: left;
    margin: 7px 0 0 7px;
    list-style: none;
    max-width: 500px;
    width: 21%;
}
