/*
Project Name:   EHW PHP Demo: Scrape LinkedIn Course List Images
Main Prj File:  controller.php

This Filename:  _curl_page.css
Date Created:   11/29/22
Date Updated:   01/29/22
Programmer:     Eric L. Hepperle

File Version:    1.00.00

File Purpose: 
  Styles for curl results page.
*/

.ehw-curl-results {
  background: beige;
  border: solid 2px #9e5a8b;
  margin: 2rem auto;
  max-width: 1024px;
  width: 90%;
  overflow: hidden;
  padding: 0.6rem;
}

.ehw-curl-results > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
}

.res-img-cont {
  float: left;
  margin: 7px 0 0 7px;
  list-style: none;
  max-width: 500px;
  border: solid #7c7373 1px;
  background: white;
}

.res-img-cont img {
  max-width: 100%;
}
