/*
Project Name:   EHW PHP Demo: Scrape LinkedIn Course List Images
Main Prj File:  controller.php

This Filename:  _search_form.css
Date Created:   01/30/22
Date Updated:   --
Programmer:     Eric L. Hepperle

File Version:    1.00.00

File Purpose: 
  Styles for search form.
*/

#search-form {
    background:rgb(187, 204, 204);

    display: grid;
    grid-template-columns: 5fr 1fr 1fr;

    grid-template-areas:
        "header header"
        "sidebar main"
        "sidebar footer"

}

#search-form p {
    background-color: pink;
    margin: .2rem;
    align-self: end;
}

#search-form p input{
    background:darkorange;
    width: 100%;
}